@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
html{
    height: auto;
    width: auto;
    overflow: hidden;
    /* later */
}

.background{
    background-image: url(https://signin.apc.edu.ph/images/apc-building.png?d502daa968ea0214f24d82489356321e);
    text-align: center;
}

.sample-text{
    color: aqua;
    font-size: 2rem;
    background-color: crimson;
    font-family: 'Nunito Sans', sans-serif;
}